<h1>Gestão de Atendimento</h1>

		<div id="welcome">
			<%= @texto %>!
			
		</div>

		<div>
			<p id="meu_texto">
				<br /><br /><br />
				Para navegar, basta selecionar um dos ícones ao lado.
			</p>
		</div>